*{
    margin: 0px;
}
body{
  font-family: "Goudy Bookletter 1911", sans-serif;
}
.logo{
    width: 8rem;
    height:5rem;
    border-radius: 50px;
}
@media (max-width: 900px) {
    .logo {
        margin-top: 20%;
    }
  }
.navbar{
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    width: 100%; 
    background-color: rgb(255, 255, 255);
    border-bottom-style:double;
    border-color: rgb(156, 156, 253);    
}

.hyperlinks{
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    font-family: 'Courier New', monospace;
}
@media (max-width: 900px) {
    .hyperlinks {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 45vw;
    }
  }
a{
    color:#503f3f;
    text-decoration: none;
    margin-top:10%;
    margin-left:20px;
    font-size:15px;
    width: 100px;
    text-shadow: 0 0 1px #000000;
}
a:hover{
    color:#000000;
    color:red;

    
}
.social-container{
    display: flex;
    margin-top: -1%;
}
@media (max-width: 1100px) {
    .social-container{
      display:none;
      

    }
  }

.mainphoto{
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    animation: zoom-in 4s ;
}
@keyframes zoom-in {
    from {
      transform: scale(0.8, 0.8);
    }
    to {
      transform: scale(1, 1);
    }
  }
.main1{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    margin-top:20rem;
}
@media (max-width: 1000px) {
    .main1{
        flex-direction: column;
        border-bottom-style:groove;
        border-color: rgb(0, 0, 0); 
    }
  }
.eikona{
  width: 40vw;
  height:60vh;
  order:1;
}
  @media (max-width: 1000px) {
    .keimeno{
      order:2;
      width: 120%;
      margin-left: -10%;
    }
  }
  @media (max-width: 1000px) {
    .eikona{
      order: 1;
      margin-left: auto;
      margin-right: auto;
      width: 110%;
      height:35vh;
      
     

    }
  }
.main p{
    margin:6rem;

}
.main img{
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}

footer{
    display:flex;
    justify-content: space-around;
    margin-top:20rem;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(102, 168, 255); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 18px; /* Some padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  

  

 