*{
    margin: 0px;
}
body{
  font-family: "Goudy Bookletter 1911", sans-serif;
  background-image: url('../images/back.webp');
}
.container{
  background-image: url('../images/background.jpg');
  background-repeat:no-repeat;
  background-size: 100% 15%;
}  
@media (max-width: 900px) {
  .container {
    background-image: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size: 100% 14%;
  }
}
.gap{
  display: block;
  background-image: url('../images/gap.jpg');
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  font-size: 25px;
  text-align: center;
}
.logo{
    width: 8rem;
    height:5rem;
    border-radius: 50px;
    margin-left: 0px;
}
@media (max-width: 800px) {
    .logo {
        margin-top: 5px;
        margin-left: -30px;
        margin-right: auto;
    }
  }
.navbar{
    background-image: url('../images/navback.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: row;
    position:sticky;
    top: 0;
    width: 100%; 
    background-color: rgb(255, 255, 255);
    border-bottom-style:double;
    border-color: rgb(156, 156, 253);   
 
}

.hyperlinks{
    display: flex;
    margin-top: 50px;
    margin-right: 30rem;
  
}
@media (max-width: 800px) {
    .hyperlinks {
        display: none;
    }
  }
a{
    color:#503f3f;
    text-decoration: none;
    margin-top:10%;
    margin-left:60px;
    font-size:15px;
    width: 100px;
    text-shadow: 0 0 1px #000000;
}
a:hover{
    color:#000000;
    color:red;
}
.social-container{
    display: flex;
    margin-top: -1%;
    float: right;
}
@media (max-width: 800px) {
    .social-container{
      display:none;
    }
  }
.maintext{
    display: flex;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:25px;
    margin-top: 9rem;
    animation: zoom-in 2s ;
}
@media (max-width: 800px) {
  .maintext{
    display: flex;
    text-align: center;
    font-size:20px;
    margin-top: 2rem;
  }
}
@keyframes zoom-in {
    from {
      transform: scale(0.3, 0.3);
    }
    to {
      transform: scale(1, 1);
    }
  }
.main1{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    margin-top:20rem;
}
@media (max-width: 800px) {
    .main1{
        flex-direction: column;
        border-bottom-style:groove;
        border-color: rgb(0, 0, 0); 
        border-width: 1px;
    }
  }
.eikona{
  width: 40vw;
  height:60vh;
  order:1;
}
.keimeno{
  font-size: 25px;
}
  @media (max-width: 800px) {
    .keimeno{
      order:2;
      width: 200%;
      margin-left: -50%;
      font-size: 15px;
      text-align: center;
      background-color: white;
    }
  }
  @media (max-width: 800px) {
    .eikona{
      order: 1;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height:30vh;
    }
  }
.main p{
    margin:6rem;

}
.main img{
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}

footer{
    display:flex;
    justify-content: space-around;
    margin-top:20rem;
}

#Btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(102, 168, 255); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 18px; /* Some padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  
  #Btn:hover {
    background-color: #556; /* Add a dark-grey background on hover */
  }
.toggle-nav-cont{
  display:block;
}
.dropbtn{
  display:none;
  margin-top:20px;
  padding: 50px 10px;
  font-size: 20px;
  cursor: pointer;
  border-style: groove;
  border-color: black;
  border-width: 1px;
  background-color: white;
  padding: 10px;
  margin-left: 2rem;
  margin-right: -70px;
  border-radius: 10px;
}
.dropbtn:hover{
  background-color: rgb(218, 218, 218);

}
.dropdown-content-hide{
  display: none;
}
@media (max-width: 800px) {
  .dropbtn{
    display:block;
  }
  .toggle-nav-cont{
    display: flex;
    
  }
}
.dropdown-content-reveal{
  display:none;
}
@media (max-width: 800px){
.dropdown-content-reveal{
  display:flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 2rem;
  padding-top:10px;
  font-size:18px;
  padding:10px;
}
}

