body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.Formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h3{
  text-align: center;
}

.GoBbtn{
  cursor: pointer;
  margin-top: 40px;
  margin-left: 45vw;
  background:   rgb(90, 134, 255);
  border: none;
  border-radius: 5px;
  padding:       10px 15px;
  color:         #ffffff;
  font:          normal 15px/1 "Roboto", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}
.GoBbtn:hover{
  background:    rgb(4, 0, 255);
}

.container{
  background-image: none;
}