.navbar{
    display:flex;
}
.toggle-nav-cont{
display:flex;
}
.hyperlinks{
    display: flex;
    column-gap: 5vw;
    margin-left:5vw;
    margin-top:30px
}
.social-container{
    display: flex;
    column-gap:5vw;
    margin-right:80%;
}